#!/bin/bash
for word in coreutils grep gnu-sed
do
    export PATH=/usr/local/opt/$word/libexec/gnubin:$PATH
done

export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export TERM='xterm'

# Adding custom colors to bash_profile
export PS1="[\T] \[\033[36m\]\u\[\033[m\]@\[\033[32m\]\h:\[\033[33;1m\]\w\[\033[m\]\[\033[32m\]\$(parse_git_branch)\[\033[00m\]\$ "
export CLICOLOR=1

# Highlight section titles in manual pages
export LESS_TERMCAP_md="${yellow}"

# Don’t clear the screen after quitting a manual page
export MANPAGER='less -X'
export MANPATH=/usr/local/opt/coreutils/libexec/gnuman:$MANPATH

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# virtualenvs
export WORKON_HOME=$HOME/.virtualenvs

# golang stuff
export GOPATH=$HOME/go
export PATH=$PATH:$GOPATH/bin

# work vs home
if [[ $USER = 'agonzalez' && $HOSTNAME = "ip-192-168"* ]]; then
    # java
    export JAVA_HOME=$(/usr/libexec/java_home -v 1.8)

    # Virtualenvwrapper stuff
    export PROJECT_HOME=$HOME/dev
    export VIRTUALENVWRAPPER_PYTHON=/Users/agonzalez/.pyenv/shims/python

    # pyspark use Jupyter for dev
    export SPARK_HOME=/Users/agonzalez/Downloads/spark-2.4.3-bin-hadoop2.7
    export PYSPARK_DRIVER_PYTHON=jupyter
    export PYSPARK_DRIVER_PYTHON_OPTS='notebook'

    # aws
    export AWS_PROFILE=dotdash-dataops

    # pyenv
    export PYENV_ROOT="$HOME/.pyenv"
    export PATH="$PYENV_ROOT/bin:$PATH"

    # GCLOUD SDK
    export CLOUDSDK_PYTHON=/Users/agonzalez/.pyenv/versions/2.7.16/bin/python2
    export CLOUDSDK_BQ_PYTHON=/Users/agonzalez/.pyenv/versions/2.7.16/bin/python2

else
    export VIRTUALENVWRAPPER_PYTHON=/Users/stubs/.pyenv/shims/python # depends on pyenv python ATM
fi
