#!/usr/bin/env bash

# Create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$@"
}


# Open man page as PDF
function manpdf() {
    man -t "${1}" | open -f -a /Applications/Preview.app/
}


if [[ $HOSTNAME = "ABT-AG-h03647"* ]]; then
    function scpt() {
        scp "${1}" taskmaster1:/home/dpuser/agonzalez/
    }
fi

parse_git_branch() {
  git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/ [\1]/'
}
