#!/bin/bash
for word in coreutils grep gnu-sed
do
    export PATH=$(brew --prefix $word)/libexec/gnubin:$PATH
done

export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export TERM='xterm-256color'

# Adding custom colors to bash_profile
export PS1="[\T] \[\033[36m\]\u\[\033[m\]@\[\033[32m\]\h:\[\033[33;1m\]\w\[\033[m\]\[\033[32m\]\$(parse_git_branch)\[\033[00m\]\$ "
export CLICOLOR=1

# Highlight section titles in manual pages
export LESS_TERMCAP_md="${yellow}"

# Don’t clear the screen after quitting a manual page
export MANPAGER='less -X'
export MANPATH=$(brew --prefix coreutils)/libexec/gnuman:$MANPATH

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# virtualenvs
export WORKON_HOME=$HOME/.virtualenvs

# golang stuff
export GOPATH=$HOME/dev/work/go
export PATH=$PATH:$GOPATH/bin

# personal scripts
export DOTFILES="$HOME/.dotfiles"
export PATH=$DOTFILES/scripts:$PATH
